<footer id="jm-footer" class="">
  <div class="container clearfix jm-footer">
    <div id="jm-footer-in" class="grid grid-cols-1 md:grid-cols-2">
      <div class="">
        <p style="color:#fff;" class="text-left">
          Avenida Arce Nro. 2147 - La Paz, Bolivia
          <br>
          Contáctanos:
          <br>
          <b>
              <span id="cloakef2a1a386345af2f7718f254b435f65e">
                <a href="mailto:informacion@minedu.gob.bo" style="color:#fff;">
                  informacion@minedu.gob.bo
                </a>
              </span>
          </b>
          <br>
          Whatsapp (+591)71550970 - (+591)71530671
          <br>
          Teléfonos: 2442144 - 2681200
        </p>
      </div>
      <div class="">
        <p class="text-right">
          <a style="color:#fff" href="http://www.minedu.gob.bo" target="_blank" title="Ministerio de Educación">
            Ministerio de Educación
          </a> © 2022
        </p>
      </div>
    </div>
  </div>
</footer>
